<!-- cluelesstemplates/index.html -->
{% extends 'base.html' %}

{% block title %}Clue-Less{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  <p><a href="{% url 'logout' %}">logout</a></p>

  <h4>Character:</h4>
  <select id="character">
    <option value="Miss Scarlet">Miss Scarlet</option>
    <option value="Professor Plum">Professor Plum</option>
    <option value="Mr. Green">Mr. Green</option>
  </select>

  <br/>

  <h4>Weapon:</h4>
  <select id="weapon">
    <option value="rope">rope</option>
    <option value="lead pipe">lead pipe</option>
    <option value="knife">knife</option>
  </select>

  <br/>

  <h4>Room:</h4>
  <select id="room">
    <option value="study">study</option>
    <option value="library">library</option>
    <option value="billiard room">billiard room</option>
  </select>

  <br/>
  <br/>

  <button id="suggest">Make Suggestion</button>
  <button id="accuse">Make Accusation</button>
  <button id="clear">Clear</button>

  <h2>Suggestions</h2>
  <p id="game-suggestions"></p>
  <h2>Accusations</h2>
  <p id="game-accusations"></p>

  <script type="text/javascript">
    var isActive = true;

    $(document).ready( function() {
      pollServer();

      $("#suggest").click(function() {
        var weapon = $('#weapon :selected').text();
        var room = $('#room :selected').text();
        var character = $('#character :selected').text();
        $.post("{% url 'suggestion' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", name: "{{ user.username }}",
          weapon: weapon, room: room, character: character})
          .done(function(data) {
            updateSuggestions(data.suggestions);
          })
      });
      $("#accuse").click(function() {
        var weapon = $('#weapon :selected').text();
        var room = $('#room :selected').text();
        var character = $('#character :selected').text();
        $.post("{% url 'accusation' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", name: "{{ user.username }}",
          weapon: weapon, room: room, character: character})
          .done(function(data) {
            updateAccusations(data.accusations);
          })
      });
      $("#clear").click(function() {
        $.post("{% url 'clear_state' %}", {csrfmiddlewaretoken : "{{ csrf_token }}"})
          .done(function(data) {
            updateSuggestions(data.suggestions);
            updateAccusations(data.accusations);
          })
      });
    });

    function pollServer() {
      $.get("{% url 'game' %}", {name: "{{ user.username }}"}, function(data) {
        updateSuggestions(data.suggestions);
        updateAccusations(data.accusations);
        setTimeout(pollServer, 2000);
      });
    }

    function updateSuggestions(items) {
      var gameString = "";
      items.forEach(function(item) {
        gameString += item += "<br/>";
      });
      $("#game-suggestions").html(gameString);
    }

    function updateAccusations(items) {
      var gameString = "";
      items.forEach(function(item) {
        gameString += item += "<br/>";
      });
      $("#game-accusations").html(gameString);
    }
  </script>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log in</a>
  <p>Don't have an account?</p>
  <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
{% endblock %}
