<!-- cluelesstemplates/lobby.html -->
{% extends 'base.html' %}

{% block title %}Clue-Less{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class='col-md-6 col-lg-9'>
      <div class='card'>
        <img class="card-img-top" src="../static/logo_slogan.png" alt="Card image" style="height: 200px; width: 550px; align-self: center;">
        <div class='card-header bg-info text-white' style="font-size: 30px; font-style: bold;">Hi {{ user.username }}!</div>
        <div class='card-body'>
          <p class="card-text">This is the pre-game lobby. Once at least three people have joined, a game of Clue-Less can be created.</p>
          <button id="create-button" class="card-link btn btn-primary" disabled>Create Game</button>
          <a href="{% url 'lobby-leave' %}" class="card-link">Leave Lobby</a> 
          <br /> <br />
          <ul id="player-list" class="list-group"></ul>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready( function() {
          var players = [];

          getPlayers();

          $("#create-button").click(function() {
              $.post("{% url 'creategame' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", players: players,
                name: "main-game"})
                .done(function(data) {
                  console.log(data);
                });
          });

          function getPlayers() {
              $.get("{% url 'lobby-players' %}", {}, function(data) {
                  if (data.status == "in game") {
                    location.replace("{% url 'play-game' %}")
                  }
                  players = data.players;
                  var playerList = "";
                  data.players.forEach(function(item) {
                    playerList += "<li class='list-group-item'>" + item + "</li>";
                  });
                  $("#player-list").html(playerList);

                  if (data.players.length < 3) {
                    $("#create-button").attr("disabled", true);
                  } else {
                    $("#create-button").attr("disabled", false);
                  }

              });
              setTimeout(getPlayers, 1000);
          }
      });
  </script>
{% else %}
  <script>
      location.replace("{% url 'index' %}")
  </script>
{% endif %}
{% endblock %}
