<!-- cluelesstemplates/play.html -->
{% extends 'base.html' %}

{% block title %}Clue-Less{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1 id="title">Play Game</h1>

  <h3>Your Username - {{ user.username }}</h3>

  <h3>Player List</h3>
  <ul id="player-list"></ul>

  <h3>Current Player</h3>
  <p id="current-player"></p>

  <h3>Notification</h3>
  <p id="notification"></p>

  <button id="end-turn">End Turn</button>
  <a id="end-game" class="btn btn-info" href="{% url 'endgame' %}">End Game</a>

  <div id="container">
    <div class="left">
      <div class="options">
          <div id="disprove-div" class="options-inner"> 
            <h3>Disprove Suggestion</h3>
            <select id="cards-disprove"></select> <button id="disprove-sugg">Disprove Suggestion</button> <button id="cannot-disprove">Forfeit Disprove</button>
          </div>
          <div class="options-inner"> 
            <h3>Your Cards</h3>
            <ul id="cards"></ul>
          </div>
          <div class="options-inner"> 
              <h3>Movement</h3>
              <select id="rooms"></select> <button id="move-room">Move to Room</button>
              <br/> <br/>
              <select id="hallways"></select> <button id="move-hallway">Move to Hallway</button>
          </div>
      </div>
      <div class="options">
        <div class="options-inner">
          <h3>Make Suggestion</h3>
    
          <h4>Character:</h4>
          <select id="character-sugg">
            <option value="Miss Scarlet">Miss Scarlet</option>
            <option value="Mrs. Peacock">Mrs. Peacock</option>
            <option value="Professor Plum">Professor Plum</option>
            <option value="Mr. Green">Mr. Green</option>
            <option value="Colonel Mustard">Colonel Mustard</option>
            <option value="Mrs. White">Mrs. White</option>
          </select>
        
          <br/>
        
          <h4>Weapon:</h4>
          <select id="weapon-sugg">
            <option value="Rope">Rope</option>
            <option value="Lead Pipe">Lead Pipe</option>
            <option value="Knife">Knife</option>
            <option value="Wrench">Wrench</option>
            <option value="Candlestick">Candlestick</option>
            <option value="Revolver">Revolver</option>
          </select>
          <br/> <br/>
          <button id="suggest">Make Suggestion</button>
        </div>
        <div class="options-inner">
          <h3>Make Accusation</h3>
    
          <h4>Character:</h4>
          <select id="character-acc">
            <option value="Miss Scarlet">Miss Scarlet</option>
            <option value="Mrs. Peacock">Mrs. Peacock</option>
            <option value="Professor Plum">Professor Plum</option>
            <option value="Mr. Green">Mr. Green</option>
            <option value="Colonel Mustard">Colonel Mustard</option>
            <option value="Mrs. White">Mrs. White</option>
          </select>
        
          <br/>
        
          <h4>Weapon:</h4>
          <select id="weapon-acc">
            <option value="Rope">Rope</option>
            <option value="Lead Pipe">Lead Pipe</option>
            <option value="Knife">Knife</option>
            <option value="Wrench">Wrench</option>
            <option value="Candlestick">Candlestick</option>
            <option value="Revolver">Revolver</option>
          </select>
        
          <br/>
        
          <h4>Room:</h4>
          <select id="room-acc">
            <option value="Study">Study</option>
            <option value="Hall">Hall</option>
            <option value="Lounge">Lounge</option>
            <option value="Library">Library</option>
            <option value="Billiard Room">Billiard Room</option>
            <option value="Dining Room">Dining Room</option>
            <option value="Conservatory">Conservatory</option>
            <option value="Ballroom">Ballroom</option>
            <option value="Kitchen">Kitchen</option>
          </select>
          <br/> <br/>
          <button id="accuse">Make Accusation</button>
        </div>
      </div>
    </div>
    <div class="board right">
      <table id="board">
        <tbody>
          <tr>
            <td class="empty"></td>
            <td class="empty"></td>
            <td class="empty"></td>
            <td class="empty"></td>
            <td id="scarlet-starting" class="starting"></td>
            <td class="empty"></td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td  id="study" class="room">
              <p id="study-players"></p>
            </td>
            <td class="hallway">
              <b>Study - Hall</b>
              <p id="study-hall-players"></p>
            </td>
            <td id="hall" class="room">
              <p id="hall-players"></p>
            </td>
            <td class="hallway">
              <b>Hall - Lounge</b>
              <p id="hall-lounge-players"></p>
            </td>
            <td id="lounge" class="room">
              <p id="lounge-players"></p>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td id="plum-starting" class="starting"></td>
            <td class="hallway">
                <b>Study - Library</b>
                <p id="study-library-players"></p>
            </td>
            <td class="empty"></td>
            <td class="hallway">
                <b>Hall - Billiard Room</b>
                <p id="hall-billiard-players"></p>
            </td>
            <td class="empty"></td>
            <td class="hallway">
                <b>Lounge - Dining Room</b>
                <p id="lounge-dining-players"></p>
            </td>
            <td id="mustard-starting" class="starting"></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td id="library" class="room">
                <p id="library-players"></p>
            </td>
            <td class="hallway">
                <b>Library - Billiard Room</b>
                <p id="library-billiard-players"></p>
            </td>
            <td id="billiard" class="room">
                <p id="billiard-players"></p>
            </td>
            <td class="hallway">
                <b>Billiard Room - Dining Room</b>
                <p id="billiard-dining-players"></p>
            </td>
            <td id="dining" class="room">
                <p id="dining-players"></p>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td id="peacock-starting" class="starting"></td>
            <td class="hallway">
                <b>Library - Conservatory</b>
                <p id="library-conservatory-players"></p>
            </td>
            <td class="empty"></td>
            <td class="hallway">
                <b>Billiard Room - Ballroom</b>
                <p id="billiard-ballroom-players"></p>
            </td>
            <td class="empty"></td>
            <td class="hallway">
                <b>Dining Room - Kitchen</b>
                <p id="dining-kitchen-players"></p>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
            <td class="empty"></td>
            <td id="conservatory" class="room">
                <p id="conservatory-players"></p>
            </td>
            <td class="hallway">
                <b>Conservatory - Ballroom</b>
                <p id="conservatory-ballroom-players"></p>
            </td>
            <td id="ballroom" class="room">
                <p id="ballroom-players"></p>
            </td>
            <td class="hallway">
                <b>Ballroom - Kitchen</b>
                <p id="ballroom-kitchen-players"></p>
            </td>
            <td id="kitchen" class="room">
                <p id="kitchen-players"></p>
            </td>
            <td class="empty"></td>
          </tr>
          <tr>
              <td class="empty"></td>
              <td class="empty"></td>
              <td id="green-starting" class="starting"></td>
              <td class="empty"></td>
              <td id="white-starting" class="starting"></td>
              <td class="empty"></td>
              <td class="empty"></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(document).ready( function() {
      var currentPlayerInit = false;
      var disproveInit = false;
      var startingLocations = {
        "Miss Scarlet": "scarlet-starting",
        "Mrs. Peacock": "peacock-starting",
        "Professor Plum": "plum-starting",
        "Mr. Green": "green-starting",
        "Colonel Mustard": "mustard-starting",
        "Mrs. White": "white-starting"
      };
      var characterToPiece = {
        "Miss Scarlet": "scarlet-piece",
        "Mrs. Peacock": "peacock-piece",
        "Professor Plum": "plum-piece",
        "Mr. Green": "green-piece",
        "Colonel Mustard": "mustard-piece",
        "Mrs. White": "white-piece"
      };
      var startingIds = ["scarlet-starting", "peacock-starting", "plum-starting", "green-starting", "mustard-starting", "white-starting"];
      var suggestPlayer = null;
      var suggestion = []; 
      var playerCards = [];

      $.get("{% url 'playercards' %}", {csrfmiddlewaretoken : "{{ csrf_token }}"})
          .done(function(data) {
            for (var i = 0; i < data.cardList.length; i++) {
              $("#cards").append('<li>' + data.cardList[i] + "</li>")
            }
            playerCards = data.cardList;
          })

      getPlayers();
      getGameState();

      function getGameState() {
        $.get("{% url 'game' %}", {}, function(data) {
          data = JSON.parse(data);
          updatePage(data);
        });
        setTimeout(getGameState, 2000);
      }

      function getPlayers() {
        $.get("{% url 'game-players' %}", {}, function(data) {
          var playerList = "";
          data.players.forEach(function(item) {
            playerList += "<li>" + item + "</li>";
          });
          $("#player-list").html(playerList);
        });
      }

      function updatePage(data){
        console.log(data);
        showMessage(data.notification, "all");
        if (data.status == "won") {
          $("#end-game").show();
          $("#end-turn").attr("disabled", true);
          $("#rooms").attr("disabled", true);
          $("#move-room").attr("disabled", true);
          $("#hallways").attr("disabled", true);
          $("#move-hallway").attr("disabled", true);
          $("#character-sugg").attr("disabled", true);
          $("#weapon-sugg").attr("disabled", true);
          $("#suggest").attr("disabled", true);
          $("#character-acc").attr("disabled", true);
          $("#weapon-acc").attr("disabled", true);
          $("#room-acc").attr("disabled", true);
          $("#accuse").attr("disabled", true);
        }
        else {
          if (data.disprovePlayer != "{{ user.get_username }}") {
            $('#disprove-div').hide()
          }
          else {
            var cards = "";
            playerCards.forEach(function(item) {
              if (data.currentSuggestion.indexOf(item) != -1) {
                cards += "<option>" + item + "</option>";
              }
            });
            if (!disproveInit) {
              disproveInit = true;
              $("#cards-disprove").html(cards);
              if (cards.length == 0) {
                $("#disprove-sugg").attr("disabled", true);
                $("#cannot-disprove").attr("disabled", false);
              }
              else {
                $("#disprove-sugg").attr("disabled", false);
                $("#cannot-disprove").attr("disabled", true);
              }
              $('#disprove-div').show();
            }
          }
          $("#end-game").hide();
          if (data.specialMessage.length > 0) {
            showMessage(data.specialMessage, data.currentPlayer);
          }
          $("#current-player").html(data.currentPlayer + " (" + data.currentCharacter + ")");
          updateBoard(data.board, data.currentCharacter);
          if (data.currentPlayer == "{{ user.get_username }}") {
            $("#end-turn").attr("disabled", false);
            if (!currentPlayerInit) {
              updateMovement(data.validMoves)
              currentPlayerInit = true;
            }
          } else {
            $("#end-turn").attr("disabled", true);
            updateMovement(data.validMoves)
            currentPlayerInit = false;
          }
          if (data.validActions.indexOf("Make Suggestion") != -1) {
            $("#character-sugg").attr("disabled", false);
            $("#weapon-sugg").attr("disabled", false);
            $("#suggest").attr("disabled", false);
          }
          else {
            $("#character-sugg").attr("disabled", true);
            $("#weapon-sugg").attr("disabled", true);
            $("#suggest").attr("disabled", true);
          }

          if (data.validActions.indexOf("Make Accusation") != -1) {
            $("#character-acc").attr("disabled", false);
            $("#weapon-acc").attr("disabled", false);
            $("#room-acc").attr("disabled", false);
            $("#accuse").attr("disabled", false);
          }
          else {
            $("#character-acc").attr("disabled", true);
            $("#weapon-acc").attr("disabled", true);
            $("#room-acc").attr("disabled", true);
            $("#accuse").attr("disabled", true);
          }
        }
      }

      function updateMovement(validMoves) {
        var roomList = "";
        validMoves.rooms.forEach(function(item) {
          roomList += "<option>" + item + "</option>";
        });
        if (roomList.length == 0) {
          $("#rooms").attr("disabled", true);
          $("#move-room").attr("disabled", true);
        } else {
          $("#rooms").attr("disabled", false);
          $("#move-room").attr("disabled", false);
        }
        $("#rooms").html(roomList);
        var hallwayList = "";
        validMoves.hallways.forEach(function(item) {
          hallwayList += "<option>" + item + "</option>";
        });
        if (hallwayList.length == 0) {
          $("#hallways").attr("disabled", true);
          $("#move-hallway").attr("disabled", true);
        } else {
          $("#hallways").attr("disabled", false);
          $("#move-hallway").attr("disabled", false);
        }
        $("#hallways").html(hallwayList);
      }

      function updateBoard(board, currentCharacter) {
        var hallways = board.hallways;
        var rooms = board.rooms;
        var starting = board.starting;
        for (var i = 0; i < hallways.length; i++) {
          var key = Object.keys(hallways[i])[0];
          var id = getIdForBoard(key);
          var playerList = hallways[i][key];
          var final_html = "";
          for (var j = 0; j < playerList.length; j++) {
            final_html = final_html + getImageForCharacter(playerList[j], currentCharacter);
            if (j == 2) {
              final_html = final_html + "<br/>";
            }
          }
          $("#" + id).html(final_html);
        }
        for (var i = 0; i < rooms.length; i++) {
          var key = Object.keys(rooms[i])[0];
          var id = getIdForBoard(key);
          var playerList = rooms[i][key];
          var final_html = "";
          for (var j = 0; j < playerList.length; j++) {
            final_html = final_html + getImageForCharacter(playerList[j], currentCharacter);
            if (j == 2) {
              final_html = final_html + "<br/>";
            }
          }
          $("#" + id).html(final_html);
        }
        for (var i = 0; i < startingIds.length; i++) {
          var id = startingIds[i];
          $("#" + id).empty();
        }
        for (var i = 0; i < starting.length; i++) {
          var key = starting[i];
          var id = startingLocations[key];
          $("#" + id).html(getImageForCharacter(key, currentCharacter));
        }
      }

      function getImageForCharacter(character, currentCharacter) {
        if (character == "Miss Scarlet") {
          if (currentCharacter == "Miss Scarlet") {
            return "<img src='../static/scarlet-piece.png' id='scarlet-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/scarlet-piece.png' id='scarlet-piece' class='pieces'>";
          }
        }
        else if (character == "Mrs. Peacock") {
          if (currentCharacter == "Mrs. Peacock") {
            return "<img src='../static/peacock-piece.png' id='peacock-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/peacock-piece.png' id='peacock-piece' class='pieces'>";
          }
        }
        else if (character == "Professor Plum") {
          if (currentCharacter == "Professor Plum") {
            return "<img src='../static/plum-piece.png' id='plum-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/plum-piece.png' id='plum-piece' class='pieces'>";
          }
        }
        else if (character == "Mr. Green") {
          if (currentCharacter == "Mr. Green") {
            return "<img src='../static/green-piece.png' id='green-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/green-piece.png' id='green-piece' class='pieces'>";
          }
        }
        else if (character == "Colonel Mustard") {
          if (currentCharacter == "Colonel Mustard") {
            return "<img src='../static/mustard-piece.png' id='mustard-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/mustard-piece.png' id='mustard-piece' class='pieces'>";
          }
        }
        else if (character == "Mrs. White") {
          if (currentCharacter == "Mrs. White") {
            return "<img src='../static/white-piece.png' id='white-piece' class='current-player'>";
          }
          else {
            return "<img src='../static/white-piece.png' id='white-piece' class='pieces'>";
          }
        }
      }

      function getIdForBoard(name) {
        if (name == "Study") {
          return "study-players";
        } else if (name == "Study - Hall") {
            return "study-hall-players";
        } else if (name == "Hall") {
            return "hall-players";
        } else if (name == "Hall - Lounge") {
            return "hall-lounge-players";
        } else if (name == "Lounge") {
            return "lounge-players";
        } else if (name == "Study - Library") {
            return "study-library-players";
        } else if (name == "Hall - Billiard Room") {
            return "hall-billiard-players";
        } else if (name == "Lounge - Dining Room") {
            return "lounge-dining-players";
        } else if (name == "Library") {
            return "library-players";
        } else if (name == "Library - Billiard Room") {
            return "library-billiard-players";
        } else if (name == "Billiard Room") {
            return "billiard-players";
        } else if (name == "Billiard Room - Dining Room") {
            return "billiard-dining-players";
        } else if (name == "Dining Room") {
            return "dining-players";
        } else if (name == "Library - Conservatory") {
            return "library-conservatory-players";
        } else if (name == "Billiard Room - Ballroom") {
            return "billiard-ballroom-players";
        } else if (name == "Dining Room - Kitchen") {
            return "dining-kitchen-players";
        } else if (name == "Conservatory") {
            return "conservatory-players";
        } else if (name == "Conservatory - Ballroom") {
            return "conservatory-ballroom-players";
        } else if (name == "Ballroom") {
            return "ballroom-players";
        } else if (name == "Ballroom - Kitchen") {
            return "ballroom-kitchen-players";
        } else if (name == "Kitchen") {
            return "kitchen-players";
        }
      }

      function showMessage(message, audience) {
        var newText = "";
        if (audience === "all") {
          newText = message + "<br/>";
        }
        else if (audience === "{{ user.username }}") {
          newText = message + "<br/>";
        }
        else {
          newText = $("#notification").text()
        }
        $("#notification").html(newText);
      }

      $("#end-turn").click(function() {
        $.post("{% url 'endturn' %}", {csrfmiddlewaretoken : "{{ csrf_token }}"})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
          })
      });

      $("#accuse").click(function() {
        var weapon = $('#weapon-acc :selected').text();
        var room = $('#room-acc :selected').text();
        var character = $('#character-acc :selected').text();
        $.post("{% url 'accusation' %}", {csrfmiddlewaretoken : "{{ csrf_token }}",
          weapon: weapon, room: room, character: character})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves)
          })
      });

      $("#suggest").click(function() {
        var weapon = $('#weapon-sugg :selected').text();
        var character = $('#character-sugg :selected').text();
        suggestPlayer = "{{ user.username }}";
        $.post("{% url 'suggestion' %}", {csrfmiddlewaretoken : "{{ csrf_token }}",
          weapon: weapon, character: character})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves)
            suggestion = data.suggestion;
            console.log(suggestPlayer);
            console.log(suggestion);
            console.log(data.disprovePlayer);
          })
      });

      $("#disprove-sugg").click(function() {
        var card = $('#cards-disprove :selected').text();
        $.post("{% url 'disprove' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", card: card, forfeit: false})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves)
            disproveInit = false;
          })
      });

      $("#cannot-disprove").click(function() {
        $.post("{% url 'disprove' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", card: "", forfeit: true})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves)
            disproveInit = false;
          })
      });

      $("#move-room").click(function() {
        var room = $('#rooms :selected').text();
        $.post("{% url 'moveroom' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", room: room})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves);
          })
      });

      $("#move-hallway").click(function() {
        var hallway = $('#hallways :selected').text();
        $.post("{% url 'movehall' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", hallway: hallway})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves);
          })
      });

  });
  </script>
{% else %}
  <script>
    location.replace("{% url 'index' %}")
  </script>
{% endif %}
{% endblock %}
