<!-- cluelesstemplates/play.html -->
{% extends 'base.html' %}

{% block title %}Clue-Less{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Play Game</h1>

  <h3>Player List</h3>
  <ul id="player-list"></ul>

  <h3>Current Player</h3>
  <p id="current-player"></p>

  <h3>Game Board</h3>
  <table border="1">
    <tbody>
      <tr>
        <td>
          <b>Study</b>
          <p id="study-players"></p>
        </td>
        <td>
          <b>Study - Hall</b>
          <p id="study-hall-players"></p>
        </td>
        <td>
          <b>Hall</b>
          <p id="hall-players"></p>
        </td>
        <td>
          <b>Hall - Lounge</b>
          <p id="hall-lounge-players"></p>
        </td>
        <td>
          <b>Lounge</b>
          <p id="lounge-players"></p>
        </td>
      </tr>
      <tr>
        <td>
            <b>Study - Library</b>
            <p id="study-library-players"></p>
        </td>
        <td></td>
        <td>
            <b>Hall - Billiard Room</b>
            <p id="hall-billiard-players"></p>
        </td>
        <td></td>
        <td>
            <b>Lounge - Dining Room</b>
            <p id="lounge-dining-players"></p>
        </td>
      </tr>
      <tr>
        <td>
            <b>Library</b>
            <p id="library-players"></p>
        </td>
        <td>
            <b>Library - Billiard Room</b>
            <p id="library-billiard-players"></p>
        </td>
        <td>
            <b>Billiard Room</b>
            <p id="billiard-players"></p>
        </td>
        <td>
            <b>Billiard Room - Dining Room</b>
            <p id="billiard-dining-players"></p>
        </td>
        <td>
            <b>Dining Room</b>
            <p id="dining-players"></p>
        </td>
      </tr>
      <tr>
        <td>
            <b>Library - Conservatory</b>
            <p id="library-conservatory-players"></p>
        </td>
        <td></td>
        <td>
            <b>Billiard Room - Ballroom</b>
            <p id="billiard-ballroom-players"></p>
        </td>
        <td></td>
        <td>
            <b>Dining Room - Kitchen</b>
            <p id="dining-kitchen-players"></p>
        </td>
      </tr>
      <tr>
        <td>
            <b>Conservatory</b>
            <p id="conservatory-players"></p>
        </td>
        <td>
            <b>Conservatory - Ballroom</b>
            <p id="conservatory-ballroom-players"></p>
        </td>
        <td>
            <b>Ballroom</b>
            <p id="ballroom-players"></p>
        </td>
        <td>
            <b>Ballroom - Kitchen</b>
            <p id="ballroom-kitchen-players"></p>
        </td>
        <td>
            <b>Kitchen</b>
            <p id="kitchen-players"></p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Notification</h3>
  <p id="notification"></p>

  <button id="end-turn">End Turn</button>

  <h3>Make Accusation</h3>

  <h4>Character:</h4>
  <select id="character-acc">
    <option value="Miss Scarlet">Miss Scarlet</option>
    <option value="Mrs. Peacock">Mrs. Peacock</option>
    <option value="Professor Plum">Professor Plum</option>
    <option value="Mr. Green">Mr. Green</option>
    <option value="Colonel Mustard">Colonel Mustard</option>
    <option value="Mrs. White">Mrs. White</option>
  </select>

  <br/>

  <h4>Weapon:</h4>
  <select id="weapon-acc">
    <option value="Rope">Rope</option>
    <option value="Lead Pipe">Lead Pipe</option>
    <option value="Knife">Knife</option>
    <option value="Wrench">Wrench</option>
    <option value="Candlestick">Candlestick</option>
    <option value="Revolver">Revolver</option>
  </select>

  <br/>

  <h4>Room:</h4>
  <select id="room-acc">
    <option value="Study">Study</option>
    <option value="Hall">Hall</option>
    <option value="Lounge">Lounge</option>
    <option value="Library">Library</option>
    <option value="Billiard Room">Billiard Room</option>
    <option value="Dining Room">Dining Room</option>
    <option value="Conservatory">Conservatory</option>
    <option value="Ballroom">Ballroom</option>
    <option value="Kitchen">Kitchen</option>
  </select>

  <button id="accuse">Make Accusation</button>

  <h3>Movement</h3>
  <select id="rooms"></select> <button id="move-room">Move to Room</button>
  <br/> <br/>
  <select id="hallways"></select> <button id="move-hallway">Move to Hallway</button>


  <script>
    $(document).ready( function() {
      var currentPlayerInit = false;

      getPlayers();
      getGameState();

      function getGameState() {
        $.get("{% url 'game' %}", {}, function(data) {
          data = JSON.parse(data);
          updatePage(data);
        });
        setTimeout(getGameState, 2000);
      }

      function getPlayers() {
        // TODO: Get list of players in game and display username - character
        //  Put the result into player-list
      }

      function updatePage(data){
        console.log(data);
        showMessage(data.notification, "all");
        $("#current-player").html(data.currentPlayer + " (" + data.currentCharacter + ")");
        updateBoard(data.board);
        if (data.currentPlayer == "{{ user.get_username }}") {
          $("#rooms").attr("disabled", false);
          $("#hallways").attr("disabled", false);
          $("#move-room").attr("disabled", false);
          $("#move-hallway").attr("disabled", false);
          if (!currentPlayerInit) {
            updateMovement(data.validMoves)
            currentPlayerInit = true;
          }
        } else {
          $("#rooms").attr("disabled", true);
          $("#hallways").attr("disabled", true);
          $("#move-hallway").attr("disabled", true);
          $("#move-room").attr("disabled", true);
          currentPlayerInit = false;
        }
        if (data.validActions.indexOf("Make Accusation") != -1) {
          $("#character-acc").attr("disabled", false);
          $("#weapon-acc").attr("disabled", false);
          $("#room-acc").attr("disabled", false);
          $("#accuse").attr("disabled", false);
        }
        else {
          $("#character-acc").attr("disabled", true);
          $("#weapon-acc").attr("disabled", true);
          $("#room-acc").attr("disabled", true);
          $("#accuse").attr("disabled", true);
        }
      }

      function updateMovement(validMoves) {
        var roomList = "";
        validMoves.rooms.forEach(function(item) {
          roomList += "<option>" + item + "</option>";
        });
        $("#rooms").html(roomList);
        var hallwayList = "";
        validMoves.hallways.forEach(function(item) {
          hallwayList += "<option>" + item + "</option>";
        });
        $("#hallways").html(hallwayList);
      }

      function updateBoard(board) {
        var hallways = board.hallways;
        var rooms = board.rooms;
        for (var i = 0; i < hallways.length; i++) {
          var key = Object.keys(hallways[i])[0];
          var id = getIdForBoard(key);
          var playerList = hallways[i][key];
          $("#" + id).html(playerList.join("<br/>"));
        }
        for (var i = 0; i < rooms.length; i++) {
          var key = Object.keys(rooms[i])[0];
          var id = getIdForBoard(key);
          var playerList = rooms[i][key];
          $("#" + id).html(playerList.join("<br/>"));
        }
      }

      function getIdForBoard(name) {
        if (name == "Study") {
          return "study-players";
        } else if (name == "Study - Hall") {
            return "study-hall-players";
        } else if (name == "Hall") {
            return "hall-players";
        } else if (name == "Hall - Lounge") {
            return "hall-lounge-players";
        } else if (name == "Lounge") {
            return "lounge-players";
        } else if (name == "Study - Library") {
            return "study-library-players";
        } else if (name == "Hall - Billiard Room") {
            return "hall-billiard-players";
        } else if (name == "Lounge - Dining Room") {
            return "lounge-dining-players";
        } else if (name == "Library") {
            return "library-players";
        } else if (name == "Library - Billiard Room") {
            return "library-billiard-players";
        } else if (name == "Billiard Room") {
            return "billiard-players";
        } else if (name == "Billiard Room - Dining Room") {
            return "billiard-dining-players";
        } else if (name == "Dining Room") {
            return "dining-players";
        } else if (name == "Library - Conservatory") {
            return "library-conservatory-players";
        } else if (name == "Billiard Room - Ballroom") {
            return "billiard-ballroom-players";
        } else if (name == "Dining Room - Kitchen") {
            return "dining-kitchen-players";
        } else if (name == "Conservatory") {
            return "conservatory-players";
        } else if (name == "Conservatory - Ballroom") {
            return "conservatory-ballroom-players";
        } else if (name == "Ballroom") {
            return "ballroom-players";
        } else if (name == "Ballroom - Kitchen") {
            return "ballroom-kitchen-players";
        } else if (name == "Kitchen") {
            return "kitchen-players";
        }
      }

      function showMessage(message, audience) {
        var newText = "";
        if (audience === "all") {
          newText = message + "<br/>";
        }
        else if (audience === "{{ user.username }}") {
          newText = message + "<br/>";
        }
        else {
          newText = $("#notification").text()
        }
        $("#notification").html(newText);
      }

      $("#end-turn").click(function() {
        $.post("{% url 'endturn' %}", {csrfmiddlewaretoken : "{{ csrf_token }}"})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves);
          })
      });

      $("#accuse").click(function() {
        var weapon = $('#weapon-acc :selected').text();
        var room = $('#room-acc :selected').text();
        var character = $('#character-acc :selected').text();
        $.post("{% url 'accusation' %}", {csrfmiddlewaretoken : "{{ csrf_token }}",
          weapon: weapon, room: room, character: character})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
          })
      });

      $("#move-room").click(function() {
        var room = $('#rooms :selected').text();
        $.post("{% url 'moveroom' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", room: room})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves);
          })
      });

      $("#move-hallway").click(function() {
        var hallway = $('#hallways :selected').text();
        $.post("{% url 'movehall' %}", {csrfmiddlewaretoken : "{{ csrf_token }}", hallway: hallway})
          .done(function(data) {
            data = JSON.parse(data);
            updatePage(data);
            updateMovement(data.validMoves);
          })
      });
  });
  </script>
{% else %}
  <script>
    location.replace("{% url 'index' %}")
  </script>
{% endif %}
{% endblock %}
