<!-- clueless/templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Clue-Less Sign Up{% endblock %}

{% block content %}

<div class='container'>
    <div class='col-sm-6'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>Sign Up</div>
        <div class='panel-body'>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
<button class='btn-primary'> Hello </button>
{% endblock %}